fastapi
uvicorn[standard]
playwright
requests
pydantic
python-dotenv
pandas
pdfplumber

python-multipart
requests
pdfplumber
pandas
beautifulsoup4
pydub
SpeechRecognition
openai
playwright


ffmpeg
